.divCalendarContent{width:100%;float;left;}
.divCalendar{width:28%;float:left;display:inline-block;padding:2px;}
.divScheduler{width:68%;float:right;display:inline-block;font-size:10px;padding:2px;height:400px;}
