textarea {
	resize: none;
}

.superscript {
	vertical-align: super;
	font-size: small;
	color: red;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

form {
	padding: 100px;
}


body {
	overflow: hidden;
}